# Ignore the Outputs-CSVs folder
Outputs-CSVs/

# Ignore Un-formatted Outputs
Outputs/

# Ignore the SuperOverSheet.csv file
IPL-Dataset/MainSheets-SampleFiles/SuperOverSheet.csv

# Ignore Automated Python Program
AutoWriteReadme.py

try-input/
try-output/
try-RemoveBG-Outputs/